.containerNotification {
  margin-top: 4vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
}

h3 {
  margin-top: 10px;
}
.notification-main {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
  color: black;
  flex-direction: column;
}
.notification {
  display: flex;
  background: beige;
  justify-content: space-between;
  margin: 0.5rem;
  width: 50%;
  border-radius: 1rem;
}

.notification .message {
  padding: 1rem;
  display: flex;
  max-width: 70%;
  width: 70%;
}

.notification .message a {
  text-decoration: none;
  color: black;
}
.notification .message p {
  color: darkgray;
  font-size: 15px;
  padding-top: 2px;
}
.notification .message .user-image {
}
.notification .message .user-image img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.notification .message .inner {
  padding-left: 0.5rem;
}
.notification .message .inner .username {
  font-weight: bold;
}
.notification .img-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
}
.notification .img-content img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.notification .action {
  display: flex;
  align-items: center;
  justify-content: center;
}
.notification .action .close {
  padding: 0.5rem;
  color: lightgray;
  cursor: pointer;
}
.notification .action .close:hover {
  color: whitesmoke;

  padding: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .notification {
    display: flex;
    background: beige;
    justify-content: space-between;
    margin: 0.5rem;
    width: 100%;
    border-radius: 1rem;
  }
}

.post-like {
  background: beige;
}

.comment-like {
  background: antiquewhite;
}

.reply-like {
  background: antiquewhite;
}
.post-comment {
  background: aliceblue;
}
.comment-reply {
  background: aliceblue;
}
.reply-reply {
  background: aliceblue;
}
.user-follow {
  background: blueviolet;
}
