@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@keyframes fade-in-100-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes fade-in-100-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.content {
  width: 100vw;
  /* height: 600px; */
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: calc(100vh - 4rem);
}

aside {
  /* width: 25%; */
  width: 30%;
  background-color: #511f79;
  background-color: black;
  display: flex;
  flex-direction: column;
  /* height: 80vh; */
}
aside .head {
  min-height: 120px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

aside .head:hover {
  cursor: pointer;
}
aside .head .avatar {
  background-color: #d65050;
  color: white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
aside .head .name,
aside .head .mail {
  margin: 3px 0px;
  font-size: 14px;
}
aside .head .name {
  font-weight: 700;
}
aside .head .mail {
  font-weight: 400;
  opacity: 0.8;
}
aside .friends_list {
  /* background-color: #673E8C; */
  background-color: black;

  width: 100%;
  /* min-height: 600px; */
  overflow: auto;
}
aside .friends_list .friend {
  padding: 10px 5px;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
}
aside .friends_list .friend:hover {
  background-color: #714b94;
}
aside .friends_list .friend.active {
  background-color: #714b94;
}
aside .friends_list .friend.active .avatarbox {
  position: relative;
}
aside .friends_list .friend.active .avatarbox::before {
  border: 2px solid #714b94;
}
aside .friends_list .friend .avatarbox {
  position: relative;
}

aside .friends_list .friend .avatar_overlay {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0px 10px;
}
aside .friends_list .friend .avatar_overlay img {
  width: 100%;
  min-height: 100%;
}
aside .friends_list .friend .namemsg {
  color: white;
  width: 70%;
}
aside .friends_list .friend .namemsg .b {
  line-height: 18px;
  font-size: 1.1rem;
}
aside .friends_list .friend .namemsg .b-str {
  line-height: 18px;
  font-size: 14px;
  color: whitesmoke;
}
aside .friends_list .friend .namemsg .msg {
  opacity: 0.6;
  width: 60px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
aside .friends_list .friend .timeago {
  width: 30%;
}
aside .friends_list .friend .timeago p {
  font-size: 11px;
}
.midcont {
  /* width:100%; */
  width: 70%;
  /* min-height: 85vh; */
  /* height:80vh; */
  background-color: rgba(0, 0, 0, 0.07);
  /* background: antiquewhite; */
  display: flex;
  flex-direction: column;
}
.midcont .head {
  /* margin-left:200px; */
  padding: 20px;
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 70px;
}
.midcont .head h4 {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
}
.midcont .head .configschat {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: auto;
}
.midcont .head .configschat i {
  font-size: 26px;
  color: rgba(0, 0, 0, 0.7);
  padding: 10px 30px;
  transition: transform 0.2s cubic-bezier(0.72, 0.1, 0.33, 1.99);
}
.midcont .head .configschat i:hover {
  transform: scale(1.1);
}
.midcont .head .configschat i.fa.fa-phone:hover {
  color: #3ec649;
}
.midcont .head .configschat i.fa.fa-camera-retro:hover {
  color: #673ab7;
}
.midcont .head .configschat i.fa.fa-ellipsis-v:hover {
  color: #b5b5b5;
}
.midcont .messagescont {
  /* height: 70%; */
  height: 67vh;
  padding: 5px;
  /* overflow: scroll; */
  overflow: auto;
  /* background-color: yellow; */
}
.midcont .messagescont .load-more {
  display: flex;
  align-items: center;
  justify-content: center;
}
.midcont .messagescont .load-more span {
  cursor: pointer;
  color: rgb(201, 57, 86);
  font-weight: 600;
}
.midcont .messagescont .show-no-message {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15%;
}

.midcont .messagescont .msg {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  overflow: hidden;
}
.midcont .messagescont .msg .text {
  background-color: white;
  padding: 1em 1em 0px 1em;
  border-radius: 6px;
  color: #737373;
  position: relative;
  line-height: 18px;
}
.midcont .messagescont .user {
  display: flex;
  flex-direction: row;
  max-width: 70%;
}
.midcont .messagescont .user.me {
  margin-right: auto;
  animation: fade-in-100-left 1s 0.5s ease-in-out both;
}
.midcont .messagescont .user.me .text::before {
  content: "";
  display: block;
  border-style: solid;
  border-width: 7.5px 12px 7.5px 0;
  border-color: transparent #ffffff transparent transparent;
  position: absolute;
  left: -11px;
}
.midcont .messagescont .user.friend {
  margin-left: auto;
  flex-direction: row-reverse;
  animation: fade-in-100-right 1s 1.3s ease-in-out both;
}
.midcont .messagescont .user.friend .text {
  background-color: #714b94;
  color: white;
  padding: 1em 1em 0px 1em;
}
.midcont .messagescont .user.friend .text::before {
  content: "";
  display: block;
  border-style: solid;
  border-width: 7.5px 0 7.5px 12px;
  border-color: transparent transparent transparent #714b94;
  position: absolute;
  right: -11px;
}
.midcont .messagescont .user .avatarbox .avatar_overlay {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0px 10px;
}
.midcont .messagescont .user .avatarbox {
  display: block;
  margin-top: 15px;
  /* padding: 0px 5px; */
}
.midcont .messagescont .user .avatarbox::before {
  content: "";
  width: 0px;
  height: 0px;
  border: 0px solid;
}
.midcont .messagescont .user .date-and-seen {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.midcont .messagescont .user .date-and-seen .date small {
  padding: 5px 5px 0px 0px;
  font-size: 9px;
}
.midcont .messagescont .user .date-and-seen .seen span {
  font-size: 18px;
}
.midcont .msg .file-box {
  padding: 10px 5px 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.midcont .msg .file-box .file-obj {
  width: 100%;
  padding-top: 5px;
}
.midcont .msg .file-box img {
  height: 200px;
  width: 250px;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  max-height: 400px;
  object-fit: contain;
}
.midcont .msg .file-box video {
  width: 300px;
  height: 300px;
  object-fit: contain;
}
.midcont .msg .file-box .other_file {
  background: black;
  border-radius: 10px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  /* word-break: break-word; */
  text-align: justify;
  padding: 10px;
}
.midcont .bottomchat {
  padding: 2%;
  background-color: white;
  color: #b5b5b5;
  /* margin-top: auto; */
}
.bottomchat .bottom-form {
  display: flex;
  background: white;
  border-radius: 5px;
  justify-content: space-between;
  border: 1px solid lightgray;
  align-items: center;
}
.bottomchat .input-text {
  width: 80%;
}
.bottomchat .inputbutton {
  width: 100%;
  height: 40px;
  border: none;
  background-color: lightgray;
  border-radius: 5px;
}
.midcont .bottomchat * {
  transition: all 0.2s ease-in-out;
}
.midcont .bottomchat {
}

.sub-bottom-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 20%; */
}

.btn-svg {
  border: none;
  outline: none;
  background: none;
}

.sub-bottom-chat .svg-send {
  fill: blue;
  fill: #25959b;
  fill: #5b5bcb;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.sub-bottom-chat .svg-add {
  fill: gray;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.sub-bottom-chat .svg-disabled {
  fill: gray;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.sub-bottom-chat svg {
  width: 30px;
  height: 30px;
  fill: gray;
  cursor: pointer;
  /* margin: 4px; */
}
.sub-bottom-chat input {
  position: absolute;
  left: -999em;
  display: none;
}

.sub-bottom-chat label {
  display: block;
  overflow: hidden;
  border-radius: 8px;
}
.sub-bottom-chat label > span {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  padding-right: 0.5em;
  background-color: white;
  white-space: nowrap;
  line-height: 32px;
  cursor: pointer;
}
.sub-bottom-chat label > span:before {
  content: attr(title);
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  padding: 0.5em 1em;
  border-radius: 8px 0 0 8px;
  background-color: steelblue;
  line-height: normal;
  color: white;
}
.midcont .bottomchat .text {
  float: left;
  font-size: 14px;
}
.midcont .bottomchat i {
  float: right;
}
.midcont .bottomchat i:hover {
  opacity: 0.5;
  color: #3ec649;
}

.fcenter {
  align-items: center;
}

.b {
  font-weight: 700;
}

.avatarbox {
  position: relative;
}
.online {
  width: 12px;
  height: 12px;
  background-color: #3ec649;
  display: block;
  position: absolute;
  z-index: 4;
  border-radius: 50%;
  top: 5px;
  left: 10px;
  border: 2px solid rgba(255, 255, 255, 0.8);
}

.avatarbox .avatar_overlay {
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0px 10px;
}
.avatarbox .avatar_overlay img {
  width: 100%;
  min-height: 100%;
}

@media screen and (max-width: 789px) {
  body {
    height: auto;
  }

  .content {
    flex-direction: column;
    /* min-height: 600px; */
    /* max-width: 360px; */
    width: auto;
    height: auto;
    /* height: calc(100vh - 4rem); */
  }

  aside {
    height: auto;
    overflow: hidden;
    /* position: absolute; */
    /* border-top: 1px solid white; */
  }
  aside .head {
    flex-direction: row;
    min-height: 50px;
    max-height: 55px;
  }
  aside .head .avatar {
    height: 30px;
    width: 30px;
  }
  aside .head * {
    margin: 0px 10px !important;
  }
  aside .head .mail {
    font-size: 10px;
  }
  aside .friends_list {
    transition: all 0.2s ease-in-out;
    min-height: 0px;
  }
  aside .friends_list.ok {
    height: 0px;
  }
  aside .friends_list.ok.active {
    min-height: 210px;
  }

  .midcont {
    height: 80vh;
    /* height: 70vh; */
    /* background-color: turquoise; */
  }
  .midcont .head {
    /* min-height: 600px; */
    height: 55px;
  }

  .avatarbox .avatar_overlay {
    width: 40px;
    height: 40px;
  }
  .midcont .messagescont {
    height: 67vh;
  }
  .midcont .messagescont .user {
    display: flex;
    flex-direction: row;
    max-width: 80%;
  }
  .midcont .configschat i {
    font-size: 18px !important;
  }

  aside,
  .midcont {
    width: 100%;
  }

  .midcont .msg .file-box video {
    width: 100%;
    height: 300px;
  }
  .midcont .msg .file-box img {
    height: 150px;
    width: 150px;
  }
  .sub-bottom-chat .svg-send {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  .sub-bottom-chat .svg-add {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  .sub-bottom-chat .svg-disabled {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  .sub-bottom-chat svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
    /* margin: 4px; */
  }
}
/* Let's get this party started */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.2);
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.t {
  transition: all 0.2s ease-in-out;
}

.emoji {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.emoji.fish {
  background-image: url("https://emojipedia-us.s3.amazonaws.com/cache/8d/a6/8da6396644dd88e1f4b690b2ec7933f0.png");
}
.emoji.sushi {
  background-image: url("https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/google/146/sushi_1f363.png");
}
.emoji.ramem {
  background-image: url("https://emojipedia-us.s3.amazonaws.com/cache/b6/d7/b6d781171f5e7f5b5fc723076a810e76.png");
}
