@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");

body {
  /* background: #e2e5ee; */
  /* background: #0d0d0e; */
  background: black;
  /* background: whitesmoke; */
  /* background-color: rgb(0, 0, 0); */
  /* background: linear-gradient(150deg, rgba(166,192,254,1) 0%, rgba(246,128,132,1) 100%); */
  /* background:whitesmoke; */

  font-family: "Segoe UI";
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  /* overflow-x: hidden; */
}

.scroll-indicator {
  border-bottom: 5px solid #8075a4;
}

#main-feed {
  align-items: center;
  overflow: scroll;
  overflow-x: hidden;

  overflow-y: overlay;
  height: calc(100vh - 5rem);
}

::-webkit-scrollbar {
  /* display: none; */
}

.wrapper .content-wrapper {
  width: 850px;
  margin: 0 auto;
}

.feed-wrapper {
  display: flex;
  justify-content: space-between;
}
.post-wall {
  overflow: hidden;
  width: auto;
}
.load-more-post {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

@media only screen and (max-width: 768px) {
  .feed-wrapper {
    justify-content: center;
  }
}

.post {
  /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); */
  /* width: 600px; */
  width: 460px;
  height: auto;
  margin: 15px auto;
  background: #fff;
  /* background: #404040; */
  position: relative;
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.user-info {
  padding: 10px;
  display: flex;
  /* justify-content: flex-start; */
  padding: 10px 5px 10px 15px;
  justify-content: space-between;
}

.userdiv {
  display: flex;
}
.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.user-avatar img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.user-data {
  margin-left: 2px;
  cursor: pointer;
}
.user-data .u-icons {
  color: whitesmoke;
}
.drop-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.drop-parent svg {
  cursor: pointer;
}
.dm {
}
.dropdown-edit {
  position: relative;
}

.dropdown-edit .summary {
  height: 30px;
  padding-right: 0;
  background: none;
  outline: none;
  color: white;
  border: none;
  font-size: 30px;
}
.dropdown-edit .summary svg{
  transform:rotateZ(270deg)
}
.dropdown-edit .summary[aria-expanded="true"] + .panel {
  display: block;
}

.dropdown-edit .panel {
  position: absolute;
  right: 0;
  display: none;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  border: 1px solid #000;
  background: #1a1a18;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
}
.dropdown-edit .panel {
  color: white;
  z-index: 3;
  width: 28vmin;
  max-width: 200px;
}
.dropdown-edit .panel li {
  list-style: none;
  padding: 10px;
}
.dropdown-edit .panel li a {
}

.dropdown-edit .panel li:hover {
  cursor: pointer;
  background: gray;
}
.post-content {
  background: whitesmoke;
  width: 100%;
  /* max-height: 387px; */
  /* max-height: 352px; */
  height: 70vh;

  overflow: hidden;
}

.post-content img {
  width: inherit;
}

.post-info {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: black;
}

.post-info .views {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: grey;
  padding: 5px 0;
  text-align: center;
  padding: 5px 0;
  width: 140px;
}

.post-info .icon {
  /* margin-right: 10px; */
}

.post-info a {
  display: flex;
  width: 140px;
  justify-content: center;
  text-decoration: none;
  /* color: #604d92; */
  color: black;
  color: salmon;
  /* color: whitesmoke; */
  color: white;

  padding: 5px 0;
}
.post-info .count {
  color: white;
}
.likes .icon {
  color: red;
}
.save .icon2 {
  color: whitesmoke;
}
/* .save .icon1 {
  color: rgb(248, 138, 156);
} */
.post-info a .icon {
  margin-right: 10px;
}
.post-date {
  color: #616770;
  font-size: 10px;
  /* padding: 10px 20px; */
  padding-left: 15px;
  background: black;
  border-bottom: 1px solid #e7e7e7;
}
.post-wrapper {
  background: black;
}

.post-info a:hover {
  /* background: rgba(182, 167, 222, 0.4); */
  /* cursor: pointer; */
  background: rgb(10, 10, 10);
}

@media only screen and (max-width: 768px) {
  .wrapper .content-wrapper {
    margin: 0 auto;
    width: auto;
  }
  .post-wall {
    overflow: hidden;
    width: 100%;
  }
  .post {
    width: 100% !important;
  }
  .post-content {
    width: 100%;
    /* max-height: 68vh; */
    overflow: hidden;
    /* min-height: 50vh; */
    height: 72vh;
    background: black;
  }
  .post-info a {
    display: flex;
    /* width: 100px; */
    justify-content: center;
    text-decoration: none;
    /* color: #604d92; */
    padding: 5px 0;
    font-size: 17px;
  }
  .user-info {
    display: flex;
    padding: 0px 0px 10px 7px;
    justify-content: space-between;
  }
  .user-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
  }
}

.caption {
  padding: 10px 15px;
  /* border-top: 1px solid #e7e7e7; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
}

.caption p {
  color: rgb(216, 205, 205);
}

.caption a {
  color: white;
}
