:root {
  /* Main */
  --primary: 300, 92%, 48%;
  --secondary: 178, 100%, 40%;
  --tertiary: 201, 96%, 71%;
  --background: 240, 4%, 3%;
  --text-primary: 0, 0%, 100%;
  /* Colors */
  --black: 0, 0%, 0%;
  --white: 0, 0%, 100%;
  --grooble: 233, 3%, 48%;
  --red: 347, 84%, 68%;
  --orange: 23, 84%, 68%;
  --yellow: 52, 84%, 68%;
  --green: 114, 84%, 68%;
  --teal: 163, 84%, 68%;
  --blue: 219, 84%, 68%;
  --purple: 279, 84%, 68%;
  --pink: 312, 84%, 68%;
  /* Gradients */
  --gradient: linear-gradient(
    90deg,
    hsla(var(--primary), 1) 0%,
    hsla(var(--secondary), 1) 50%,
    hsla(var(--tertiary), 1) 100%
  );
  /* Sizes */
  --heading-large: 5.6rem;
  --heading-medium: 3.6rem;
  --heading-small: 2.4rem;
  --paragraph: 1.2rem;
  /* Transitions */
  --transition-main: 0.175, 0.685, 0.32;
  /* Fonts */
  --font-main: "Poppins";
}

p {
  margin: 0;
  color: hsl(var(--text-primary));
  font-size: var(--paragraph);
}

.material-icons-round {
  user-select: none;
  cursor: default;
}

.material-icons-round {
  font-family: "Material Icons Round";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}
/* ====================
   3.1 Global classes
  ==================== */

/* ===============
   3.1.1 Flexbox
  =============== */

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexbox-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flexbox-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* Columns */
.flexbox-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.flexbox-col-left {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}
.flexbox-col-left-ns {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.flexbox-col-right {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}
.flexbox-col-right-ns {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}
.flexbox-col-start-center {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
/* Spacings */
.flexbox-space-bet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main {
  height: calc(100vh - 5rem);
}

.view-width {
  width: 100%;
}

/* ======================
   3.2.3.1 Profile Page
  ====================== */

/* Profile Header */
.profile-header {
  margin-top: 2vh;
  width: 100%;
  position: relative;
  z-index: 1;

  /* height:50vh; */
}
.profile-header-inner {
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 2;
  height: 50vh;
}
.profile-header-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    hsla(var(--background), 0.33) 0%,
    hsla(var(--background), 0.77) 50%,
    hsla(var(--background), 1) 100%
  );
  z-index: 3;
}
.profile-header-image {
  min-width: 100%;
  max-width: 110%;
  min-height: 100%;
  position: absolute;
  filter: hue-rotate(-5deg) saturate(1.25);
  object-fit: cover;
}
/* Profile Info */
.phi-info-wrapper {
  padding: 4em 4em 8em 4em;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;

  /* grid-template-columns: auto; */
  place-items: center;
  gap: 2em;

  gap: 2em;
  z-index: 5;
}
.phi-info-left {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2em;
  z-index: 5;
}

/* Profile Picture */
.phi-profile-picture-wrapper {
  width: 10em;
  height: 10em;
  position: relative;
  margin-top: 7vh;
}
.phi-profile-picture-inner {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  z-index: 6;
}
.phi-profile-picture {
  min-width: 100%;
  max-width: 105%;
  min-height: 100%;
  position: absolute;
  object-fit: cover;
}
.phi-profile-picture-blur {
  top: 1em;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  transform: scale(0.8, 0.8);
  filter: blur(1rem) hue-rotate(-5deg) saturate(1.25);
}
/* Profile Username */
.phi-profile-username-wrapper {
  max-width: 50vw;
}
.phi-profile-username span {
  margin: 0 0 0 0.3em;
}
.phi-profile-tagline {
  color: hsl(var(--grooble));
}

/* Profile Page */
.profile-page {
  margin: 4em 0;
  /* height: 50vh; */
  /* max-height: 450px;
  overflow: scroll; */
}
.profile-page > h3 {
  font-size: var(--paragraph);
  text-transform: uppercase;
}

.profile-page-inner {
  margin: 1.5em 0;
  display: grid;
  /* flex-wrap: wrap; */
  grid-gap: 1px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  max-height: 450px;
  overflow: scroll;
  overflow-x: hidden;
}
.profile-page-item {
  margin: 0;
  /* height: 1vh; */
  flex-grow: 1;
  position: relative;
  cursor: pointer;
}
.profile-page-item-image {
  max-height: 160px;
  min-width: 100%;
  /* object-fit: cover; */
  object-fit: fill;

  vertical-align: bottom;
}

.profile-page-list-style {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.profile-page-list-style .g,
.profile-page-list-style .l {
  cursor: pointer;
  font-size: 17px;
}
@media only screen and (max-width: 756px) {
  .profile-page-inner {
    margin: 1.5em 0;
    display: grid;
    /* flex-wrap: wrap; */
    grid-gap: 1px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    max-height: 450px;
    overflow: scroll;
    overflow-x: hidden;
  }
  .profile-page-item {
    margin: 0;
    /* height: 1vh; */
    flex-grow: 1;
    position: relative;
    cursor: pointer;
  }
  .phi-info-wrapper {
    padding: 0;
    width: 100%;
    height: auto;
  }
  .profile-page-item-image {
    max-height: 160px;
    min-width: 100%;
    /* object-fit: cover; */
    object-fit: fill;

    vertical-align: bottom;
  }
}
.postnum {
  margin-bottom: 5px;
  font-size: 1rem;
}
.buttons-fm {
  display: grid;
  grid-gap: 25px;
  gap: 25px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.buttons-fm .button {
  cursor: pointer;
  height: 20px;
  margin: 0;
  font-weight: bold;
  line-height: 19px;
  background: #5850eb;
  border: none;
  padding: 15px 25px;
  border-radius: 6px;
  color: white;
  width: 100%;
  margin-top: 24px;
}
.buttons-fm .button:hover {
  background: #6e67ee;
}
.buttons-fm .button:focus {
  background: #4239e8;
}
.ps-fm {
  display: grid;
  grid-gap: 25px;
  gap: 25px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.ps-fm p {
  /* padding:5px; */
  margin-bottom: 8px;
}

.grid-headings {
  display: grid;
  grid-gap: 25px;
  /* gap: 50%; */
  grid-template-columns: repeat(3, minmax(0, 1fr));
  /* padding-left: 17%; */
  /* width: 70%; */
}
.grid-headings h3 {
  padding-left: 30%;
}
.grid-headings h3:hover {
  cursor: pointer;
  /* text-decoration: underline; */
}

/* Selection */
::selection {
  color: hsl(var(--white));
  background: hsla(var(--primary), 0.33);
}
/* Scrollbar */
::-webkit-scrollbar-track {
  background-color: hsl(var(--background));
}
::-webkit-scrollbar {
  width: 8px;
  background-color: hsl(var(--background));
}
::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary));
}

/* ===============
   5. @keyframes
  =============== */

/* =================
   6. @media rules
  ================= */

/* =======================
   6.1 max-width: 1660px
  ======================= */

/* @media only screen and (max-width: 756px) { */
@media only screen and (max-width: 756px) {
  :root {
    /* Sizes */
    --heading-large: 4rem;
    --heading-medium: 2.6rem;
    --heading-small: 1.6rem;
    --paragraph: 1rem;
    --navbar-buttons: 2rem;
  }

  /* ===============
       3.2 Classes
      =============== */

  .view-width {
    /* width: calc(100% - 5em); */
    width: 95%;
  }

  .phi-info-left {
    grid-template-columns: auto;
    place-items: center;
    gap: 2em;
  }
  /* Profile Username */
  .phi-profile-username-wrapper {
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  .profile-header {
    margin-top: 2vh;
    width: 100%;
    position: relative;
    /* height:50vh; */
  }
  .profile-header-inner {
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 2;
    height: auto;
  }
  .phi-profile-picture {
    /* min-width: 100%;
      max-width: 105%;
      min-height: 100%; */
    height: 30px;
    width: 30px;
    position: absolute;
    object-fit: cover;
  }
  .phi-profile-picture-wrapper {
    width: 10em;
    height: 80px;
    position: relative;
    margin-top: 2px;

    /* margin-top:7vh; */
  }
  .phi-profile-picture-inner {
    width: 70px;
    height: 70px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    z-index: 6;
    margin: auto;
  }

  .phi-profile-username-wrapper {
    margin-top: -30px;
  }

  .profile-page-item-image {
    /* max-height:70.5px; */
    object-fit: fill;
    /* width:100%; */
    width: 112.5px;
    height: 95px;
  }
  .profile-page-inner {
    max-height: 355px;
    overflow: scroll;
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 1024px) {
  :root {
    /* Sizes */
    --heading-large: 5rem;
    --heading-medium: 3rem;
    --heading-small: 1.8rem;
  }

  /* ===============
       3.2 Classes
      =============== */

  /* Profile Info */
  .phi-info-wrapper {
    grid-template-columns: auto;
    place-items: center;
    gap: 2em;
  }
  .phi-info-right {
    justify-content: center;
    align-items: center;
  }

  /* ==============
       3.2.4 Footer
      ============== */
}

/* ======================
   6.5 max-width: 756px
  ====================== */

/* griditem' */
.containerz {
  max-width: 93.5rem;
  /* max-width: 70vw; */

  margin: 0 auto;
  padding: 0 2rem;
}

.btn {
  display: inline-block;
  font: inherit;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
}

.btn:focus {
  outline: 0.5rem auto #4d90fe;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Gallery Section */

.containerz .gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
  padding-bottom: 3rem;
}

.containerz .gallery-item {
  position: relative;
  flex: 1 0 22rem;
  margin: 1rem;
  color: #fff;
  cursor: pointer;
}

.containerz .gallery-item:hover .gallery-item-info,
.containerz .gallery-item:focus .gallery-item-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.containerz .gallery-item-info {
  display: none;
}

.containerz .gallery-item-info li {
  display: inline-block;
  font-size: 2vmin;
  font-weight: 600;
}

.containerz .gallery-item-likes {
  margin-right: 2.2rem;
}

.containerz .gallery-item-type {
  position: absolute;
  top: 2px;
  right: 4px;
  /* font-size: 2.5rem; */
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.containerz .fa-clone,
.containerz .fa-comment {
  transform: rotateY(180deg);
}
.containerz .gallery-item .fa,
.containerz .gallery-item .fas {
  font-weight: 600;
  font-size: 24px;
}

.containerz .gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Loader */

.loader {
  width: 5rem;
  height: 5rem;
  border: 0.6rem solid #999;
  border-bottom-color: transparent;
  border-radius: 50%;
  margin: 0 auto;
  animation: loader 500ms linear infinite;
}

/* Media Query */

@media screen and (max-width: 40rem) {
}

/* Spinner Animation */

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}

/*

The following code will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox & floated styling. 

*/

@supports (display: grid) {
  .containerz .gallery {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 1rem;
    /* width: 77vw; */
    width: 70vw;
  }

  .containerz .gallery-item {
    width: auto;
    margin: 0;
    /* width: 90%; */
    height: 250px;
    /* max-height: 100%; */
  }

  @media (max-width: 40rem) {
  }
}

@media only screen and (max-width: 756px) {
  .containerz {
    /* max-width: 93.5rem; */
    /* max-width: 70vw; */

    margin: 0 auto;
    padding: 2px;
    width: 100%;
  }

  .containerz .gallery {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 4px;
    width: auto;
    margin: 0;
  }
  .containerz .gallery-item {
    width: auto;
    margin: 0;
    /* width: 70%; */
    height: 150px;
    max-height: 100%;
  }
  .containerz .gallery-item-info li {
    display: inline-block;
    font-size: 4vmin;
    font-weight: 600;
  }
}

/* popup and overlay */

.overlay .popup-back {
  background: rgba(7, 6, 6, 0.6);
}
.popup .close-back {
  position: absolute;
  top: 20px;
  right: 20px;
}
.popup .close-back:hover {
  color: white;
}
@media only screen and (max-width: 768px) {
  .overlay-back {
    overflow: scroll;
    top: unset;
  }
}
