/* * Post widget * */

/* .ii input[type="file"] {
    display: none;
  } */

.widget-post {
  width: 600px;
  min-height: 100px;
  height: auto;

  border: 1px solid #eaeaea;
  border-radius: 6px;
  box-shadow: 0 1px 2px 1px rgba(130, 130, 130, 0.1);

  background-color: #fff;

  margin: auto;
  margin-top: 7vh;

  overflow: hidden;
}
.widget-post ul {
  list-style-type: none;
}

.widget-post .btn {
  padding: 0.5em 1em;

  background-color: transparent;
  color: #6b7270;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}
.widget-post__header {
  padding: 0.2em 0.5em;

  background-color: whitesmoke;
  color: #3f5563;
}
.widget-post__title {
  font-size: 18px;
}

.widget-post__content {
  width: 100%;
  height: 50%;
  border-bottom: 2px solid #e3dede;
  min-height: 70px;
}
.widget-post__textarea {
  width: 100%;
  height: 100%;
  padding: 0.5em;

  border: none;
  resize: none;
}
.widget-post__textarea:focus {
  outline: none;
}

.widget-post__options {
  padding: 0.5em;
}
.widget-post___input {
  display: inline-block;

  width: 24%;
  padding: 0.2em 0.5em;

  border: 1px solid #eaeaea;
  border-radius: 1.5em;
}
.post-actions__label {
  cursor: pointer;
}

.widget-post__actions {
  width: 100%;
  padding: 0.5em;
}
.post--actions {
  position: relative;
  padding: 0.5em;

  background-color: #a5cfe1;
  color: black;
}
.post-actions__attachments {
  display: inline-block;
  width: 60%;
}
.attachments--btn {
  background-color: white;
  color: #0c0d0e;

  border-radius: 1.5em;
}

.post-actions__widget {
  display: inline-block;
  width: 38%;
  text-align: right;
}
.post-actions__publish {
  width: 120px;

  background-color: black;
  color: #fff;

  border-radius: 1.5em;
}

.scroller::-webkit-scrollbar {
  display: none;
}

.is--hidden {
  display: none;
}

/* * SR * */
.sr-only {
  width: 1px;
  height: 1px;

  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);

  overflow: hidden;
  white-space: nowrap;

  position: absolute;
  top: 0;
}

/* *  Placeholder contrast * */
::-webkit-input-placeholder {
  color: #666;
}
::-moz-placeholder {
  color: #666;
}
:-ms-input-placeholder {
  color: #666;
}
:-moz-placeholder {
  color: #666;
}

@media only screen and (max-width: 756px) {
  .widget-post {
    width: 100%;
  }
}
.widget-post__form .tag-wrapper .spanny-div {
  display: flex;
}
.widget-post__form .tag-wrapper .spanny {
  color: black;
  font-weight: 500;
  font-size: 13px;
  margin: 9px;
}

.widget-post__form .tags {
  display: flex;
  /* display: none; */
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #c0c0c0;
  border-radius: 0.25rem;
  margin: 1rem;
  position: relative;
  background: white;
}
.widget-post__form .tags:focus-within {
  border-color: dodgerblue;
}
.widget-post__form .input-tags {
  flex: 1;
  margin: 0.5rem 0;
  padding: 0 0.25rem;
  outline: none;
  color: black;
}
.widget-post__form .tag {
  margin: 0.25rem;
  padding: 0.05rem 0.5rem;
  /* border: 1px solid #c0c0c0; */
  border-radius: 4px;
  white-space: nowrap;
  color: black;
  cursor: pointer;
  user-select: none;
  background: #e5f1ff;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
}

.widget-post__form .tag .x {
  color: #2e8eff;
  font-size: 14px;
}
.widget-post__form .tag .x:hover {
  cursor: text;
}
.widget-post__form .tags-drop {
  display: inline-block;
  list-style: none;
  width: fit-content;
  border: 1px solid #c0c0c0;
  border-radius: 0.25rem;
  overflow: hidden;
  position: absolute;
  top: calc(100% + 0.15rem);
  z-index: 1;
  background: #fff;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s;
  color: #000;
}
.widget-post__form .tags-drop.active {
  background: lightyellow;
  opacity: 1;
  pointer-events: auto;
}
.widget-post__form .tags-drop__item {
  padding: 0.25rem 1rem;
}
.widget-post__form .tags-drop__item:hover,
.widget-post__form .tags-drop__item:focus {
  background: gold;
}
