/* comments */
.gallery-comments-new {
  height: 100%;
}
.gallery-comments-new .contenta {
  /* max-height: 60vh !important; */
  overflow: auto;
  background: white;
  border-radius: 7px;
  max-height: 84%;
  /* height: -webkit-fill-available; */
  height: inherit;
}
.gallery-comments-new .contenta a {
  color: black;
  text-decoration: none;
}
.gallery-comments-new .comments-wrapper {
  padding: 20px;
}

.gallery-comments-new .comments-wrapper :last-child {
  border: 0;
}

.gallery-comments-new .comment {
  animation-duration: 0.3s;
  animation-name: fadeIn;
  display: flex;
  align-items: flex-start;
  /* border-bottom: 1px solid #e6e6e6; */
  padding: 10px 5px;
}

.gallery-comments-new .comment-avatar img {
  width: 25px;
  height: 25px;
  border-radius: 100px;
}

.gallery-comments-new .comment .comment-user-data {
  /* max-width: 90%; */
  overflow: hidden;
  width: 100%;
}

.gallery-comments-new .comment-user-data .username {
  color: black;
  padding: 5px;
  font-weight: bold;
  font-size: 0.8rem;
}
.gallery-comments-new .comment-text {
  color: #2f2f2f;
  /* font-size: 0.9rem; */
  word-break: break-all;
  font-size: 1rem;
  width: 70%;
}
.gallery-comments-new .comment-span {
  padding: 5px;
  word-break: break-word;
}
.gallery-comments-new .comment-rtext {
  color: grey;
  padding: 6px;
  padding-left: 15px;
  font-size: 12px;
}

.gallery-comments-new .comment-rtext:hover {
  color: black;
  cursor: pointer;
}

.gallery-comments-new .reply-username {
  color: black;
  font-weight: bold;
  font-size: 0.8rem;
}
.gallery-comments-new .reply-comment {
  font-size: 0.9rem;
  color: #2f2f2f;
  padding: 5px;
}
.gallery-comments-new .repto {
  color: grey;
  font-size: 13px;
  padding-left: 2px;
  padding-right: 3px;
}
.gallery-comments-new .greply {
  width: 40%;
}

.gallery-comments-new .replytag {
  color: burlywood;
  padding-left: 10px;
  font-size: 00.9rem;
  float: right;
}
.gallery-comments-new .replycont {
  color: red;
  padding-left: 10px;
  font-size: 00.9rem;
  float: right;
}
.gallery-comments-new .reply-like-num {
  color: gray;
  float: right;
  padding-left: 3px;
}
.gallery-comments-new .ravail {
  color: gray;
  font-size: 13px;
}
.gallery-comments-new .ravail:hover {
  cursor: pointer;
}

.gallery-comments-new .replytag:hover {
  cursor: pointer;
}

.gallery-comments-new .replycont:hover {
  cursor: pointer;
}
.gallery-comments-new .comment-greply {
  width: 100%;
  display: flex;
}

.gallery-comments-new .comment-input {
  padding: 10px 20px;
  border-top: 1px solid #e7e7e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery-comments-new .comment-input .user-avatar,
.gallery-comments-new .comment .user-avatar {
  width: 35px;
  height: 35px;
}

.gallery-comments-new form {
  width: 100%;
  display: inherit;
}

.gallery-comments-new .comment-input input {
  padding: 10px;
  width: 85%;
  border: 0;
  outline: none;
}

@media only screen and (max-width: 768px) {
  .gallery-comments-new .contenta {
    max-height: 60%;
    /* height: 50%; */
    overflow: auto;
  }
  .gallery-comments-new .comment-avatar {
    width: 20px;
    height: 20px;
  }
  .gallery-comments-new .comment-avatar img {
    width: 20px;
    height: 20px;
    border-radius: 100px;
  }
  .gallery-comments-new .comment .comment-user-data {
    /* max-width: 90%; */
    overflow: hidden;
    /* width: 95%; */
    width: 100%;
  }
  .gallery-comments-new .comment-text {
    color: #2f2f2f;
    /* font-size: 0.9rem; */
    word-break: break-all;
    font-size: 1rem;
    width: 69%;
  }

  .gallery-comments-new .greply {
    width: 40%;
  }
}
